<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col">
        <h1 class="display-4">Rapidash</h1>
      </div>
      <div class="col">
        <img class="logo float-right" src="../assets/078Rapidash.png" />
      </div>
    </div>
    <p class="lead">Control and Monitor</p>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-2">
            <app-bit></app-bit>  
      </div>
      <div class="col-2">
            <app-reset></app-reset>
      </div>
      <div class="col-4"></div>
    </div>


  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <app-alert-controller></app-alert-controller>
    </div>
    <div class="col"></div>
  </div>
</div>